/*** The New CSS Reset ***/

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
   all: unset;
   display: revert;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

a,
button {
   cursor: revert;
}

ol,
ul,
menu {
   list-style: none;
}

img {
   max-width: 100%;
}

table {
   border-collapse: collapse;
}

input,
textarea {
   -webkit-user-select: auto;
}

textarea {
   white-space: revert;
}

meter {
   -webkit-appearance: revert;
   appearance: revert;
}

::placeholder {
   color: unset;
}

:where([hidden]) {
   display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
   -moz-user-modify: read-write;
   -webkit-user-modify: read-write;
   overflow-wrap: break-word;
   -webkit-line-break: after-white-space;
   -webkit-user-select: auto;
}

:where([draggable="true"]) {
   -webkit-user-drag: element;
}




/*** This is my code ***/

:root {
   font-size: 16px;
}

body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1rem;
   background-color: #1e2021;
}

.container {
   padding: 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100vw;
}

.game-area {
   display: grid;
   grid-template-columns: repeat(4, minmax(100px, 1fr));
   grid-template-rows: repeat(4, minmax(100px, 1fr));
   grid-gap: 15px;
}

.block {
   background-color: #33373a;
   border-radius: 10px;
   color: #f5f5f5;
   font-size: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.pair-label {
   display: none;
}

.opened .pair-label {
   display: block;
}